@use crate::model::User;
@use crate::model::UserApp;
@use crate::model::{OAuth2Scopes, OAuth2Scope};
@use crate::templates::base_raw_html;

@use OAuth2Scopes as OAS /* Ructe doesn't like digits */;
@(user: &User, app: &UserApp, redirect_short: &str, redirect_uri: &str, redirect_code: Option<&str>, state: Option<&str>, scopes: &OAS)

@:base_raw_html("Autorisation", {
<link rel="stylesheet" href="/static/authorize.css"/>
}, {
<main class="window">
    <div class="title-bar">
        <div class="title-bar-text">Autoriser "@app.name" à accéder à votre compte ?</div>
        <div class="title-bar-controls">
            <button disabled aria-label="Minimize"></button>
            <button disabled aria-label="Maximize"></button>
            <button disabled aria-label="Close"></button>
        </div>
    </div>
    <form class="window-body" action="@redirect_uri">
        @if let Some(redirect_code) = redirect_code {
        <input type="hidden" name="code" value="@redirect_code"/>
        }
        @if let Some(state) = state {
        <input type="hidden" name="state" value="@state"/>
        }
        <p>
            En cliquant sur Autoriser, vous autorisez l'app <b>@app.name</b> (<b>@redirect_short</b>) à accéder à votre
            compte <b>@user.username</b> avec @if scopes.contains(OAuth2Scope::Email) { les permissions suivantes } else
            { la permission suivante }:
        </p>
        <ul>
            <li><input type="checkbox" id="perm-basic" checked disabled/><label for="perm-basic">Accès à votre nom
                d'utilisateurice et votre identifiant WartID unique</label></li>
            @if scopes.contains(OAuth2Scope::Email) {
            @if let (indeterminate, note) = (if let Some(email) = &user.email { (false, email.as_str()) } else { (true,
            "Aucun email défini") }) {
            <li><input type="checkbox" id="perm-email" checked disabled/><label for="perm-email">Accès à votre adresse
                e-mail (@note)</label></li>
            @if indeterminate {
            <script>document.querySelector("#perm-email").indeterminate = true;</script>
            }
            }
            }
        </ul>
        <center>
            @if redirect_code.is_some() {
            <button>Autoriser</button>
            } else {
            <button disabled>Autoriser</button>
            }
        </center>
    </form>
</main>
})
