@use crate::model::User;
@use crate::model::UserApp;
@use crate::templates::base_raw;

@(user: &User, app: &UserApp, redirect_short: &str, redirect_uri: &str, redirect_code: &str, state: Option<&str>)

@:base_raw("Autorisation", {
<link rel="stylesheet" href="/static/authorize.css" />
}, {
<main class="window">
    <div class="title-bar">
        <div class="title-bar-text">Autoriser "@app.name" à accéder à votre compte ?</div>
        <div class="title-bar-controls">
            <button disabled aria-label="Minimize"></button>
            <button disabled aria-label="Maximize"></button>
            <button disabled aria-label="Close"></button>
        </div>
    </div>
    <form class="window-body" action="@redirect_uri">
        <input type="hidden" name="code" value="@redirect_code" />
        @if let Some(state) = state {
        <input type="hidden" name="state" value="@state" />
        }
        <p>
            En cliquant sur Autoriser, vous autorisez l'app <b>@app.name</b> (<b>@redirect_short</b>) à accéder à votre compte <b>@user.username</b>.
        </p>
        <center>
            <button>Autoriser</button>
        </center>
    </form>
</main>
})
